{% load i18n %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <link rel="shortcut icon" href="{{ STATIC_URL }}/img/logo.svg" sizes="any" type="image/svg+xml">
    <meta name="description" content="supervise is a GPL project management tool"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>

    <link id="bootstrap-style" href="{{ STATIC_URL }}/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link id="base-style" href="{{ STATIC_URL }}/css/style.css" rel="stylesheet">
    <link id="base-style-responsive" href="{{ STATIC_URL }}/css/style-responsive.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ STATIC_URL }}/css/screen.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&subset=latin,cyrillic-ext,latin-ext' rel='stylesheet' type='text/css'>

    {% block extrajstop %}
    {% endblock %}
</head>

<body>

    {% include "menu.html" %}

    <div class="container-fluid">
        {% block content %}
        {% endblock %}
    </div>

    <footer>
        <p>
            <span class="hidden-phone" style="text-align:left;float:left;margin-left:20px;">&copy; <a href="" target="_blank">clione software</a> 2013</span>
            <span class="hidden-phone" style="text-align:right;float:right;margin-right:20px;"><a href="#">Help</a></span>
        </p>
    </footer>
    <script src="{{ STATIC_URL }}/js/jquery-1.9.1.min.js"></script>
    <script src="{{ STATIC_URL }}/js/jquery-migrate-1.0.0.min.js"></script>
    <script src="{{ STATIC_URL }}/js/jquery-ui-1.10.0.custom.min.js"></script>
    <script src="{{ STATIC_URL }}/js/jquery.ui.touch-punch.js"></script>
    <script src="{{ STATIC_URL }}/js/modernizr.js"></script>
    <script src="{{ STATIC_URL }}/js/bootstrap.min.js"></script>
    <script src="{{ STATIC_URL }}/js/jquery.cookie.js"></script>
    <script src='{{ STATIC_URL }}/js/fullcalendar.min.js'></script>
    <script src='{{ STATIC_URL }}/js/jquery.dataTables.min.js'></script>
    <script src="{{ STATIC_URL }}/js/excanvas.js"></script>
    <script src="{{ STATIC_URL }}/js/jquery.flot.js"></script>
    <script src="{{ STATIC_URL }}/js/jquery.flot.pie.js"></script>
    <script src="{{ STATIC_URL }}/js/jquery.flot.stack.js"></script>
    <script src="{{ STATIC_URL }}/js/jquery.flot.resize.min.js"></script>
    <script src="{{ STATIC_URL }}/js/jquery.chosen.min.js"></script>
    <script src="{{ STATIC_URL }}/js/jquery.uniform.min.js"></script>
    <script src="{{ STATIC_URL }}/js/jquery.cleditor.min.js"></script>
    <script src="{{ STATIC_URL }}/js/jquery.noty.js"></script>
    <script src="{{ STATIC_URL }}/js/jquery.elfinder.min.js"></script>
    <script src="{{ STATIC_URL }}/js/jquery.raty.min.js"></script>
    <script src="{{ STATIC_URL }}/js/jquery.iphone.toggle.js"></script>
    <script src="{{ STATIC_URL }}/js/jquery.uploadify-3.1.min.js"></script>
    <script src="{{ STATIC_URL }}/js/jquery.gritter.min.js"></script>
    <script src="{{ STATIC_URL }}/js/jquery.imagesloaded.js"></script>
    <script src="{{ STATIC_URL }}/js/jquery.masonry.min.js"></script>
    <script src="{{ STATIC_URL }}/js/jquery.knob.modified.js"></script>
    <script src="{{ STATIC_URL }}/js/jquery.sparkline.min.js"></script>
    <script src="{{ STATIC_URL }}/js/counter.js"></script>
    <script src="{{ STATIC_URL }}/js/retina.js"></script>
    <script src="{{ STATIC_URL }}/js/custom.js"></script>
    {% block extrajsbottom %}
    {% endblock %}
    
</body>
</html>