{% extends "base.html" %}
{% load i18n %}

{% block title %}{{ sitename }}{% endblock %}

{% block content %}
<div class="row-fluid">
                
            <!-- start: Main Menu -->
            <div id="sidebar-left" class="span1">
                <div class="nav-collapse sidebar-nav">
                    <ul class="nav nav-tabs nav-stacked main-menu">
                        <li class="active"><a href="index.html"><i class="icon-bar-chart"></i><span class="hidden-tablet"> Dashboard</span></a></li> 
                    </ul>
                </div>
            </div>
            <!-- end: Main Menu -->
            
            <noscript>
                <div class="alert alert-block span11">
                    <h4 class="alert-heading">Warning!</h4>
                    <p>You need to have <a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a> enabled to use this site.</p>
                </div>
            </noscript>
            
            <!-- start: Content -->
            <div id="content" class="span11">
                
                <div class="row-fluid">
                    <div class="span12">
                        <h3>Welcome to Supervise</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lobortis congue iaculis. Suspendisse elementum enim at felis sagittis sagittis. Curabitur accumsan, purus sit amet interdum imperdiet, tortor arcu egestas sapien, sed interdum orci nibh quis libero. Aenean in sapien dui, sed porttitor nibh. Donec vel augue orci. Cras tincidunt leo id neque porttitor nec imperdiet risus congue. Duis lorem sapien, blandit bibendum pharetra a, molestie vel nunc. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris fermentum ullamcorper gravida.</p>
                    </div>
                </div>

                <div class="row-fluid">

                    <div class="widget span4" onTablet="span12" onDesktop="span5">    
                        <h2><span class="glyphicons globe"><i></i></span> New projects</h2>
                        <hr>
                        {% for obj in activity %}
                            <div class="olist olist-{{ obj.type }}">
                                <h5>{{ obj.name }}</h5>
                                <p>{{ obj.description }}</p>
                            </div>
                        {% empty %}
                            <p>There are no projects yet. Maybe you want to <a href="#">create one?</a></p>
                        {% endfor %}
                    </div>

                    <div class="widget span4" onTablet="span12" onDesktop="span5">    
                        <h2><span class="glyphicons bullhorn"><i></i></span> Latest news</h2>
                        <hr>
                        <p>There are no news yet.</p>
                    </div>

                    <div class="widget span2" onTablet="span12" onDesktop="span2">    
                        <h2><span class="glyphicons check"><i></i></span> Latest commits</h2>
                        <hr>
                        <p>There are no commits yet.</p>
                    </div>

                </div>

                <hr>

                <div class="row-fluid">
                
                    <div class="stats-date span3">
                        <div>Monthly Statistics</div>
                        <div class="range">02/10/2012 - 02/11/2012</div>
                    </div>
                
                    <div class="stats span9">                
                        <div class="stat">
                            <div class="left">
                                <div class="number green">1.324.996</div>
                                <div class="title"><span class="color green"></span> Visits</div>
                            </div>
                            <div class="right"> 
                                <div class="arrow">
                                    <img src="{{ STATIC_URL }}/img/uparrow.png">
                                </div>
                                <div class="percent">+13%</div>
                            </div>
                        </div>
                    
                        <div class="stat">
                            <div class="left">
                                <div class="number yellow">12.894.765</div>
                                <div class="title"><span class="color yellow"></span> Pageviews</div>
                            </div>
                            <div class="right"> 
                                <div class="arrow">
                                    <img src="{{ STATIC_URL }}/img/uparrow.png">
                                </div>
                                <div class="percent">+17%</div>
                            </div>
                        </div>
                        
                        <div class="stat">
                            <div class="left">
                                <div class="number blue">432.980</div>
                                <div class="title"><span class="color blue"></span>Visitors</div>
                            </div>
                            <div class="right"> 
                                <div class="arrow">
                                    <img src="{{ STATIC_URL }}/img/downarrow.png">
                                </div>
                                <div class="percent">-33%</div>
                            </div>
                        </div>
                        
                        <div class="stat">
                            <div class="left">
                                <div class="number red">11.324</div>
                                <div class="title"><span class="color red"></span>New Visitors</div>
                            </div>
                            <div class="right"> 
                                <div class="arrow">
                                    <img src="{{ STATIC_URL }}/img/uparrow.png">
                                </div>
                                <div class="percent">+3%</div>
                            </div>
                        </div>                
                    </div>
                </div>  

            <div class="row-fluid">
                
                <div id="stats-chart2"  class="span12" style="height:300px" ></div>
            
            </div>
                
        <div class="modal hide fade" id="myModal">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h3>Settings</h3>
            </div>
            <div class="modal-body">
                <p>Here settings can be configured...</p>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn" data-dismiss="modal">Close</a>
                <a href="#" class="btn btn-primary">Save changes</a>
            </div>
        </div>
        
        <div class="clearfix"></div>
        
    </div><!--/.fluid-container-->

    <!-- start: JavaScript-->



{% endblock %}